/* Styling for Navbar */
body{
    display: block;
    overflow-x: hidden;
}
nav{
    background-color: white;
}
.navbar-brand img{
    max-height: 50px;
}
.navbar-brand{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #683aa4;
}
nav ul li a:hover{
    color: #683aa4;
}
/* Styling for Hero Section */ 
#hero{
    padding-top: 150px;
    padding-bottom: 50px;
}
/* Styling for review Section */ 
#reviews{
    background-color: blue;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#reviews{
    padding: 50px;
}
/* Styling for about me */
#about-me{
    padding: 50px;
}
/*styling for footer */ 
footer{
    padding: 50px;
    text-align: center;
}
/*styling for services*/
#services{
    padding: 150px 50px 50px 50px;
}
/*styling for prices*/
#prices{
    padding: 50px;
}
/*styling for booking*/
#booking{
    padding: 50px;
}
